<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <!--<assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>-->
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEmployeeService"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://wcfservice-1.apphb.com/EmployeeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmployeeService" contract="EmployeeService.IEmployeeService" name="BasicHttpBinding_IEmployeeService"/>
    </client>
  </system.serviceModel>
</configuration>